<div class="panel panel-danger">
    <div class="panel-heading">Deze functie is alleen beschikbaar voor donateurs.</div>
    <div class="panel-body">
        Om als donateur aangemeld te zijn op Globalcaching moet je 10 Euro of meer doneren per jaar.<br />
        Je kunt op de volgende manier doneren:<br />
        Via bank (dit heeft de voorkeur, omdat hier geen kosten aan verbonden zijn):
        <ul>
            <li>IBAN/SEPA Nummer: NL38SNSB0942893212</li>
            <li>BIC Nummer: SNSBNL2A</li>
            <li>Banknaam: SNS Bank</li>
        </ul>
        T.n.v.: Peters R. en Winter H.K., plaats: Didam<br />
        <br />
        O.v.v.: Onder vermelding van jouw globalcaching accountnaam<br />
        <br />
        <br />
        of via PayPal <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=CETDBB6S5TCLN&amp;lc=NL&amp;item_name=Globalcaching&amp;currency_code=EUR&amp;bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted" target="_blank"> <img name="submit" alt="PayPal, de veilige en complete manier van online betalen." src="https://www.paypalobjects.com/nl_NL/NL/i/btn/btn_donateCC_LG.gif" border="0" /> <img alt="" src="https://www.paypalobjects.com/nl_NL/i/scr/pixel.gif" height="1" border="0" width="1" /> </a>
    </div>
    <div class="panel-footer">Kijk voor meer informatie over doneren op <a href="/financiele-status-en-donaties">Financiële status en donaties pagina</a></div>
</div>