@if (Model == null || Model.YafUserID<=1)
{ 
    <div class="alert alert-danger" role="alert">Voor het verkrijgen van de juiste URL moet je ingelogd zijn.</div>
}
else if (Model.GCComUserID==null)
{
    <div class="alert alert-danger" role="alert">Voor het verkrijgen van de juiste URL moet je Live API geautoriseerd hebben.</div>
}
else
{ 
<form role="form">
    <div class="form-group">
        <label class="control-label">Jaar:</label>
        <select class="form-control" id="ftfjaar">
            <option value="0">Alle</option>
            @for (int i = 2001; i <= DateTime.Now.Year; i++)
            {
                <option value="@i">@i</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Type:</label>
        <select class="form-control" id="ftfranktype">
            <option value="1">Aantal gevonden</option>
            <option value="2">Op plaats</option>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Land:</label>
        <select class="form-control" id="countryid">
            <option value="141">Nederland</option>
            <option value="4">Belgie</option>
            <option value="8">Luxemburg</option>
        </select>
    </div>
    <div>
        <img id="ftfbanner" src="" />
    </div>
    <div>
        <div class="form-group">
            <label class="control-label">HTML:</label>
            <textarea cols="120" rows="2" id="ftfbannerhtml"></textarea>
        </div>
    </div>
</form>


<script type="text/javascript">
    var baseUrl = '@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))';

    function updateFTFBanner() {
        var id = '@Model.GCComUserID';
        $("#ftfbanner").attr("src", baseUrl + "GevondenInLandBanner/" + id + "/" + $('#countryid').val() + '/' + $('#ftfjaar').val() + "/" + $('#ftfranktype').val());
        $("#ftfbannerhtml").val('<a href="' + baseUrl + 'RanglijstPerLand"><img src="' + $("#ftfbanner").attr("src") + '" /></a>');
    }

    $("#ftfjaar").change(function () {
        updateFTFBanner();
    });

    $("#ftfranktype").change(function () {
        updateFTFBanner();
    });

    $("#countryid").change(function () {
        updateFTFBanner();
    });

    updateFTFBanner();
</script>
}