<div class="panel panel-danger">
    <div class="panel-heading">Deze functie is alleen beschikbaar voor betalende leden.</div>
    <div class="panel-body">
        Het lidmaatschap voor 4Geocaching kost 10 Euro per jaar.<br />
        Je kunt op de volgende manier betalen:<br />
        Via bank (dit heeft de voorkeur, omdat hier geen kosten aan verbonden zijn):
        <ul>
            <li>IBAN/SEPA Nummer: NL81 SNSB 0705 6468 31</li>
            <li>BIC Nummer: SNSBNL2A</li>
            <li>Banknaam: SNS Bank</li>
        </ul>
        T.n.v.: Globalcaching<br />
        <br />
        O.v.v.: Onder vermelding van jouw 4Geocaching accountnaam<br />
        <br />
        <br />
        of via PayPal <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=CETDBB6S5TCLN&amp;lc=NL&amp;item_name=Globalcaching&amp;currency_code=EUR&amp;bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted" target="_blank"> <img name="submit" alt="PayPal, de veilige en complete manier van online betalen." src="https://www.paypalobjects.com/nl_NL/NL/i/btn/btn_donateCC_LG.gif" border="0" /> <img alt="" src="https://www.paypalobjects.com/nl_NL/i/scr/pixel.gif" height="1" border="0" width="1" /> </a>
    </div>
    <div class="panel-footer">Kijk voor meer informatie over doneren op <a href="/financiele-status-en-donaties">Financiële status en donaties pagina</a></div>
</div>