<div class="panel panel-danger">
    <div class="panel-heading">Deze functie is alleen beschikbaar voor betalende leden.</div>
    <div class="panel-body">
        Het lidmaatschap voor 4Geocaching kost 10 Euro per jaar.<br />
        Je kunt op de volgende manier betalen:<br />
        Via bank (dit heeft de voorkeur, omdat hier geen kosten aan verbonden zijn):
        <ul>
            <li>IBAN/SEPA Nummer: NL81 SNSB 0705 6468 31</li>
            <li>BIC Nummer: SNSBNL2A</li>
            <li>Banknaam: SNS Bank</li>
        </ul>
        T.n.v.: Globalcaching<br />
        <br />
        O.v.v.: Onder vermelding van jouw 4Geocaching accountnaam<br />
        <br />
        <br />
        <strong>of</strong> via de 4Geocaching webshop&nbsp;<a href="https://shop.4geocaching.eu/donatie-webservices-globalcaching" target="_blank"><img src="/Modules/Globalcaching/Media/shop.png" /></a>. In de webshop heb je verschillende betaalmogelijkheden zoals <strong>iDEAL</strong>, <strong>PayPal</strong> of <strong>Credit Card</strong>.<br /><br />Vergeet bij het afrekenen in de shop ook niet je <strong>4Geocaching accountnaam</strong> te vermelden als je gebruik wilt maken van alle functionaliteiten voor betalende leden op 4Geocaching.eu. Dit vul je in bij het afrekenen in het veld <strong>Opmerkingen</strong>.		
    </div>
    <div class="panel-footer">Kijk voor meer informatie over betaald lidmaatschap op <a href="/financiele-status-en-donaties">Financiële bijdragen</a></div>
</div>