.infotext {
    color: #808080;
}

.normaluser {
    color: #808080;
    cursor: pointer; 
}

.donatoruser {
    color: #0026ff;
    cursor: pointer; 
}

.postinguser {
    color: #000000;
    font-style: italic;
    cursor: pointer; 
}
